/* Define font */
@font-face {
    font-family: 'Arial';
    src: url('/core/font/arial.ttf');
}

/* Remove the blue focus highlight from TextField */
.text-area:focused {
  -fx-focus-color: transparent;   /* Removes the blue border */
  -fx-faint-focus-color: transparent; /* Removes the faint focus highlight */
}

.text-field {
  -fx-font-size: 14px;
}

/* Remove the blue focus highlight from TextField */
.text-field:focused {
  -fx-focus-color: transparent;   /* Removes the blue border */
  -fx-faint-focus-color: transparent; /* Removes the faint focus highlight */
}

.vbox {
  -fx-padding: 10px;
}

.hbox {
  -fx-padding: 10px;
}


.button {
  -fx-text-fill: white;
  -fx-font-size: 14px;
  -fx-border-radius: 5px;  

}
/* Optionally, remove the highlight from other controls */
.button:focused {      /* Margin on the left */
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;     /* Optional: Rounded corners */
}

.label {
  -fx-font-size: 14px;
}

.label:focused {
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.stop {
  -fx-background-color: rgb(237, 66, 69); /* Green background */

}

.start {
  -fx-background-color: rgb(59, 165, 92); /* Green background */
}

.error {
  -fx-background-color: rgb(80, 80, 80); /* Green background */
}